.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.jsonInputLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.jsonInput {
  height: 10rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
}

.inputLabel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.downloadButton {
  padding: 1rem;
}
